<%- layout('layout/boilerplate') %> 
<h1 >Register</h1>
<form action="/register" method="post" class = 'validation-form' novalidate>
    <div class="mb-3">
        <label class="form-lable" for="username">Username</label>
        <input class="form-control" type="text" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label class="form-lable" for="password">Password</label>
        <input class="form-control" type="password" id="password" name="password" required>
    </div>
    <button class = "btn btn-success" type="submit">Sign_Up</button>
</form>