<% layout('layout/boilerplate') %>
<div class="card" style="width: 30rem">
  <div class="card-body">
    <h5 class="card-title">Group title</h5>
    <div class="card mt-3" >
      <div class="card-header">Member Name 1</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Expenses 1 and amount need to pay</li>
        <li class="list-group-item">Expenses 2 and amount need to pay</li>
        <li class="list-group-item">Expenses 3 and amount need to pay</li>
      </ul>
    </div>
    <div class="card mt-3">
      <div class="card-header">Member Name 2</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Expenses 1 and amount need to pay</li>
        <li class="list-group-item">Expenses 2 and amount need to pay</li>
        <li class="list-group-item">Expenses 3 and amount need to pay</li>
      </ul>
    </div>
    <div class="card mt-3">
      <div class="card-header">Member Name 3</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Expenses 1 and amount need to pay</li>
        <li class="list-group-item">Expenses 2 and amount need to pay</li>
        <li class="list-group-item">Expenses 3 and amount need to pay</li>
      </ul>
    </div>
    <div class="mt-3">
      <a href="#" class="card-link btn btn-success">Edit</a>
      <a href="#" class="card-link btn btn-danger">Delete</a>
    </div>
  </div>
</div>
